.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  padding: 44px;
  box-sizing: border-box;
  background-color: var(--bgGray);
  border: 1px solid var(--white);
}

.avatarWrapper {
  position: relative;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
}

.avatarPopup {
  position: absolute;
  top: -14px;
  right: -90px;
  padding: 4px;
  border-radius: 2px;
  background-color: #ffffff2c;
  font-weight: 300;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.avatarWrapper:hover .avatarPopup {
  opacity: 1;
}

.name {
  margin-top: 14px;
  font-size: 28px;
  color: var(--accent-primary);
}

.subscription {
  margin-bottom: 18px;
}

.subscription span {
  text-transform: uppercase;
  color: var(--accent-secondary);
}
