.button {
  display: flex;
  align-items: center;
  border-radius: 6px;
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 1.5;
  transition: all 0.2s ease;
  padding: 8px 40px;
  box-sizing: border-box;
  width: 100%;
}

.icon {
  width: 24px;
  margin-right: 12px;
}
