.title {
  text-align: center;
  font-weight: 400;
  margin-bottom: 24px;
}

.button {
  border: none;
  text-transform: uppercase;
  padding: 8px 12px;
  box-sizing: border-box;
  min-width: 120px;
  color: var(--white);
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.yesBtn {
  composes: button;
  background-color: var(--error);
}

.cancelBtn {
  composes: button;
  background-color: var(--accent-primary);
}

.yesBtn:hover {
  background-color: #e74a3cbe;
}

.cancelBtn:hover {
  background-color: #8baa36c7;
}
