:root {
  --accent-primary: #8baa36;
  --accent-secondary: #d4fd02;
  --white: #ffff;

  --text-color-primary: #010101;
  --text-color-secondary: #fff;
  --lightGray: #ffffff4d;
  --bgLight: #fafafa;
  --bgGray: #2a2c36;
  --bgDark: #121212fa;

  --error: #e74a3b;
  --warning: #f6c23e;
  --success: #3cbc81;
}
