:root {
  --accent: #8baa36;
  --white: #ffff;

  --text-color-primary: #010101;
  --text-color-secondary: #fff;
  --lightGray: #ffffff4d;
  --bgLight: #fafafa;
  --bgGray: #2a2c36;

  --error: #e74a3b;
  --warning: #f6c23e;
  --success: #3cbc81;
}
