.container {
  width: 400px;
  padding: 44px 50px;
  box-sizing: border-box;
  background-color: var(--bgGray);
  border: 1px solid var(--white);
}

.title {
  color: var(--white);
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.07;
}

.form {
  width: 100%;
}

.submitBtn {
  background-color: var(--accent-primary);
  font-size: 16px;
  width: 100%;
  border-radius: 6px;
  padding: 8px;
  border: transparent;
}

.submitBtn:disabled {
  opacity: 0.5;
  color: var(--white);
  cursor: not-allowed;
}
