.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: inherit;
  width: 100%;
  padding: 8px 14px;
  box-sizing: border-box;
  transition: background-color 0.5s ease;
}

.icon {
  margin-right: 14px;
  width: 24px;
  height: auto;
}

.button:hover {
  background-color: var(--accent-primary);
}
