:global(.Title) {
  color: blue;
}

:global(.Subtitle) {
  color: red;
}

:global(.Wrapper) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 178px);
}

:global(.Link) {
  transition: color 0.5s ease;
  color: var(--accent-secondary);
}

:global(.Link:hover) {
  :global(.Link:hover) {
    color: var(--white);
  }
}

.Toastify__toast-container {
  position: fixed;
  top: 80px;
  right: 15;
}
