.Wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  box-sizing: border-box;
}

:global(.Title) {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: 700;
}

:global(.Subtitle) {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

:global(.Link) {
  transition: color 0.5s ease;
  color: var(--accent-secondary);
}

:global(.Link:hover) {
  :global(.Link:hover) {
    color: var(--white);
  }
}

.Toastify__toast-container {
  position: fixed;
  top: 80px;
  right: 15;
}
