* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
  background-color: var(--bgDark);
}

body::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--lightGray);
}

body::-webkit-scrollbar-thumb {
  background: var(--bgDark);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font: inherit;
}

input,
textarea,
select {
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
